<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_css.css') }}">
    <script src="/static/scripts/top-button.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css">
    <title>Printed JSON</title>
</head>
<body>
    <header>
        <!-- This is your common header content -->
        <div class="topbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            
            <a href="{{ url_for('home') }}" class="logo-container">
                <img src="{{ url_for('static', filename='images/ioc_logo_black.svg') }}" alt="UNESCO-IOC Logo" height="60px">
                <img src="{{ url_for('static', filename='images/logo_simple.png') }}" alt="OBIS Logo" height="60px">
                <img src="{{ url_for('static', filename='images/bioecoocean_logo.png') }}" alt="BioEcoOcean Logo" height="50px">
                <img src="{{ url_for('static', filename='images/GOOS-BioEco-logo-update.png') }}" alt="GOOS-BioEco Logo" height="50px">
            </a>

            <nav class="navbar-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="dropdown">
                        <a href="{{ url_for('dataproducer') }}">Metadata</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('handle_form_submission') }}">New Entry</a></li>
                            <li><a href="{{ url_for('update_entry') }}">Update Entry</a></li>
                            <li><a href="{{ url_for('remove_entry') }}">Remove Entry</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('data') }}">Data tools</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </div>

        <div class="page-title-bar">
            {% block page_title %}EOV Data Management Tools{% endblock %}
        </div>
        
        <script>
            function toggleMenu() {
                const navMenu = document.querySelector(".navbar-menu");
                const hamburger = document.querySelector(".hamburger");
                const isOpen = navMenu.classList.toggle("show");
                hamburger.setAttribute("aria-expanded", isOpen);
            }
        </script>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js"></script>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    {% include 'layouts/footer.html' %}

</body>
</html>