<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_css.css') }}">
    <script src="/static/scripts/top-button.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css">
    <title>Printed JSON</title>
</head>
<body>
    <header>
        {% include 'layouts/_nav_header.html' %}

        <div class="page-title-bar">
            {% block page_title %}EOV Data Management Tools{% endblock %}
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js"></script>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    {% include 'layouts/footer.html' %}

</body>
</html>