<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_css.css') }}">
    <script src="/static/scripts/top-button.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css">
    <title>Printed JSON</title>
</head>
<body>
    <header>
        <!-- This is your common header content -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/iode-unesco.png') }}" alt="UNESCO-IOC Logo" height="100px">
            <img src="{{ url_for('static', filename='images/OBIS_logo.png') }}" alt="OBIS Logo" height="100px">
            <img src="{{ url_for('static', filename='images/bioecoocean_logo.png') }}" alt="BioEcoOcean Logo" height="100px">
            <img src="{{ url_for('static', filename='images/GOOS-BioEco-logo.png') }}" alt="GOOS-BioEco Logo" height="100px">
        </div>
        <nav>
            <div class="navbar">EOV Data Management Tools</div>
                <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="navbar-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('dataproducer') }}">Metadata</a></li>
                    <li><a href="{{ url_for('data') }}">Data tools</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
          </nav>
          <script>
            function toggleMenu() {
                const navMenu = document.querySelector(".navbar-menu");
                navMenu.classList.toggle("show");
            }
        </script>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js"></script>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    {% include 'layouts/footer.html' %}

</body>
</html>