:root {
    --bg: #d7ebf8;
    --text-muted: #5c6b7c;
    --accent: #0d5c6f;
    --accent-soft: #e8f2f4;
    --radius: 10px;
    --shadow: 6px 5px 20px 0px #767676;
    --blue--1: #44AFFA;
    --blue--2: #122E65;
    --blue--3: #2E539B;
    --text--color--1: #171717;
    --text--color--2: #2E539B;
  }
.content{
    max-width: 80%;
    margin: 0 auto;
    padding: 3%;
    background: #f2f6ff;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--blue--2);
    margin: 0px;
    background-color: #d7ebf8;
    font-size: larger;
}
h1 {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
}
button{
    background-color: rgb(74 102 127);
    color: #f1ecec; 
    font-size: 1.2rem; 
    padding: 12px 24px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 50px; 
    cursor: pointer;  /* Change cursor to pointer when hovering */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
    margin: 1px;
}
button:hover {
    background-color: #6196ac;  
}
button:focus {
    outline: none;  /* Removes the outline on focus (optional, depends on your preference) */
}
button:active {
    background-color: #B0E0E6;
}
button.back-button{
    background-color: rgb(201, 119, 52);
    color: #f1ecec;
    font-size: 1.2rem;
    padding: 10px 14px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 5px; 
    cursor: pointer;  /* Change cursor to pointer when hovering */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
    margin: 1px;
}
.back-button:hover {
    background-color: #a84f06;
}
button.copy-button{
    background-color: rgb(204, 204, 204);
    color: #4e4c4c;  /* Dark text color */
    font-size: 1rem;
    padding: 8px 12px;  /* Add padding for bigger button size */
    border: none; 
    border-radius: 5px; 
    cursor: pointer;  
    transition: background-color 0.3s ease;
    margin: 10px;     
}
.copy-button:hover {
    background-color: #999999;  /* Slightly darker blue on hover */
}
a:link {
    color: rgb(4 81 95);
    background-color: transparent;
    text-decoration: underline;
}
a:link.button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
a:visited.button {
    color: rgb(255, 255, 255); /* Ensure visited button link color remains the same */
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(146, 114, 197);
    background-color: transparent;
    text-decoration: none;
}
table.projects {
    width: 90%;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed; 
    overflow: scroll;
    word-wrap:break-word;
}
table.projects th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #0b0d57;
    word-wrap:break-word
}
/* Make the header row stay fixed when scrolling */
table.projects thead, table.projects tbody {
    display: table;
    width: 90%;
    table-layout: fixed;
}
table.projects thead {
    background-color: #81b0d6;
}
button.logins{
    background-color: rgb(20, 14, 18);
    color: #e6e1e1;  
    font-size: 18px;  /* Make text bigger */
    padding: 7px 18px;  /* padding for button size */
    border: none; 
    border-radius: 45px; 
    cursor: pointer;  
    transition: background-color 0.3s ease; 
    border: white;
    border-style: solid;
}
.logins:hover {
    background-color: #464545;
}
pre{
    width: 80%;
}
pre code.language-json {
    background-color: #2d2d2d; 
    color: #f8f8f2; 
    padding: 1px;
    border-radius: 8px;
    overflow: auto;
    font-size: 20px;
    line-height: 1;
}
.code-container {
    background-color: #2d2d2d; 
    text-align: right;
    align-items: flex-start;
    width: 100%;
}
.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* columns */
    grid-template-rows: repeat(1, 1fr);    /* rows */
    width: 100%; 
    
    align-items: center;   
}
.column {
    text-align: left;
    padding: 1px;
    vertical-align: middle;
}
hr {
    border: 0;
    border-top: 2px solid #002366; /* Dark blue horizontal rule */
    margin: 20px 0;
  }
  .callout {
    border-left: 10px solid #ff8302;
    background-color: #ffebe0;
    padding: 12px 16px;
    margin: 12px 0;
    border-radius: 6px;
    font-size: 0.95rem;
    color: #782C2C;
    font-weight: bold;
}

.callout-title {
    font-weight: bold;
    color: #d46e00;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
}

.callout-title::before {
    content: "💡";
    font-size: 1.2rem;
}
.centrebox {
    border: navy;
    border-style: double;
    padding: 10px;
    background: var(--blue--2);
    color: white;
    justify-self: anchor-center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 6px 5px 20px 0px #767676;
}

#issues-list li.selected {
    background-color: #d0e8ff !important;
}
