{% extends "layouts/header.html" %}

{% block title %}EOV Metadata and Data Tools{% endblock %}

{% block content %}
    <h1 style="font-size: 3em;">EOV Metadata and Data Tools</h1>
    <p style="color: red;"><em>UNDER DEVELOPMENT: aspects of this tool are still in development. Feedback is welcome and can be provided by adding a <a href="https://github.com/iobis/eov-metadata-app-front-entries/issues/new" target="_blank">GitHub issue</a> or reaching out to e.lawrence@unesco.org</em></p>

    Welcome! This application has two main functions: 
    <ul>
        <li>1) <b>submit metadata</b> describing EOV monitoring efforts to the <a href="https://bioeco.goosocean.org/" target="_blank">GOOS BioEco Portal</a>.</li>
        <li>2) provide tools for managing <b>EOV datasets</b> and converting them into Darwin Core, to be submitted to <a href="https://obis.org/" target="_blank">OBIS</a> (work in progress)</li>
    </ul>
    Please note the distinction between data producer metadata and dataset metadata. Data producers ARE the entities that collect information about and monitor EOVs, while datasets are produced FROM data producers. For more information about EOV data management, see the <a href="https://iobis.github.io/eov-data-management/">EOV Data Management Guidelines</a>, which are associated with the GOOS BioEco EOV Specification Sheets.

    <h1>Submit EOV Metadata</h1>
    <p><img src="{{ url_for('static', filename='images/GitHub_Logo.png') }}" alt="GitHub Logo" height="40px"> You must have a GitHub account to use this tool as submissions are sent to the GitHub repository. Your Github account is displayed below if you are properly logged in. Click the <b>"Add metadata"</b> button below to begin submitting metadata.</p>
    <div class="centrebox">
    <h4>Welcome, {{ user["login"] }}, you are logged in. 
    <br>
    <button><a href="{{ url_for('dataproducer') }}" class="button">Add metadata</a></button>
    </div>

    <h1>Coming soon: Data Tools</h1>
    <p>Obtain EOV-specific guidance on how to organize biodiversity data. <a href="{{ url_for('data') }}">Data Tools</a> to convert your data into EOV- and Darwin Core-compliant formats are in development. Note that these tools will not be a replacement for submitting data to OBIS, but will just make the process easier to do so.</p>

    <h1>Feedback & Development</h1>
    <button class="back-button"><a href="https://github.com/iobis/eov-metadata-app-front-entries/issues/new" class="button">Submit an Issue or Feedback</a></button>

{% endblock %}