{% extends "layouts/header.html" %}

{% block title %}EOV Metadata Submission Tool{% endblock %}

{% block content %}
<body>
    <h1>Welcome to the EOV Metadata Submission & Data Tool Application</h1>
    
    <p>This application has two main functions: 
    <ul>
        <li>1) facilitate metadata submission to the <a href="https://bioeco.goosocean.org/" target="_blank">GOOS BioEco Portal</a> and Ocean Data Information System (ODIS) for <b>EOV data producers</b>,</li>
        <li>2) provide tools for managing <b>EOV datasets</b> and converting them into Darwin Core, to be submitted to <a href="https://obis.org/" target="_blank">OBIS</a> (Work in progress)</li>
    </ul>
    Please note the distinction between data producer metadata and dataset metadata. Data producers ARE the entities that collect information about and monitor EOVs, while datasets are produced FROM data producers.</p>
    <p>You must have a GitHub account to use this tool as submissions are sent to the GitHub repository.</p>
    <div class="callout">
        <div class="callout-title">Required Metadata</div>
        <p><b>The following metadata fields are required for submission:</b></p>
        <ul>
            <li>Name of data producer</li>
            <li>URL of landing page</li>
            <li>Frequency of updates to metadata</li>
            <li>Contact name, email (e.g. helpdesk, general support)</li>
            <li>Name(s) of relevant EOV(s)</li>
        </ul>
    </div>
    <p>Additional metadata fields are optional but encouraged, and include:</p>
    <ul>
        <li>Name and identifier of parent organization</li>
        <li>Description or abstract</li>
        <li>License, or other relevant policies</li>
        <li>Funder information</li>
        <li>Sampling frequency and approach</li>
        <li>Keywords</li>
        <li>Geographic and temporal coverage</li>
        <li>URLs or related outputs</li>
        
    </ul>
    <div class="centrebox">
        <p><b>Log in with GitHub</b></p>
        <a href="{{ url_for('github.login') }}"><button class="logins">GitHub Login</button></a>
        <a href="{{ url_for('logout') }}"><button class="logins">Log out</button></a><br><br>
    If you see your GitHub username below, you may already be logged in and can proceed to the home page.<br>
    {% if user %}
        <p>You are logged in as {{ user.login }}.</p>
    {% else %}
        <i><p>No user logged in.</p></i>
    {% endif %}
    
    <a href="{{ url_for('home') }}"><button>Go to Home</button></a>
    </div>

    {% endblock %}
