{% extends "layouts/header.html" %}

{% block title %}EOV Data Tools{% endblock %}

{% block content %}

<h1>EOV Data Producer Metadata</h1>
    <p>This form allows you to provide metadata describing your Essential Ocean Variables (EOV) <b>"data producer"</b>. Submitting an entry via this application will allow it become visible in both the <a href="https://bioeco.goosocean.org/" target="_blank"><b>GOOS BioEco Portal</b></a> and the <b>Ocean Data and Information System (ODIS)</b></a>.</p>
    <div class="callout">
        <div class="callout-title collapsible-header" role="button" tabindex="0" aria-expanded="true">
            <span>What is a data producer?</span>
            <span class="callout-toggle collapsible-toggle">▼</span>
        </div>
        <div class="callout-body">
            A <b>data producer</b> is any entity that produces data, such as a monitoring programme, project, institution, etc. The GOOS BioEco Portal is a portal for data producers to showcase their data and metadata.
        </div>
    </div>
    <p><b>All information submitted via this form will become public.</b></p>
    <p>You must have a GitHub account to use this tool as submissions are sent to the GitHub repository.</p>
    <!-- <p>Confirm your visibility in ODIS by clicking here and searching for your data producer.</p> -->
        
    <h2>Submit data producer metadata:</h2>
    <p>Before proceeding, please note:<ul>
        <li><b>You do NOT need to submit an entry if it is already visible in Ocean Expert, the GOOS BioEco Portal, ODIS, or the Ocean Info Hub.</b> But please ensure those entries are up to date.</li>
        <li>This tool is <b>NOT meant to describe metadata for individual datasets.</b> Metadata describing datasets should accompany the dataset when submitted to OBIS. See <a href="{{ url_for('data') }}" target="_blank">Data Tools</a> for more details.</li>
    </ul>
    Click the <b>"New entry"</b> button to create a new submission. Please do your best to provide as much information as possible. Required fields are marked with an asterisk (*). To update an existing or draft entry, click <b>"Update an entry"</b>. When entries are updated, a date is added in a comment. <b>If you are updating a a previously submitted BioEco Portal entry and do not see it available, please reach out to us so we can give you edit access.</b></p>
    
    <div class="centrebox">
        <button><a href="{{ url_for('handle_form_submission') }}" class="button">New entry</a></button>
        <button><a href="{{ url_for('update_entry') }}" class="button">Update an entry</a></button>
        <button style="background-color: darkred;"><a href="{{ url_for('remove_entry') }}" class="button">Remove an Entry</a></button>
    </div>
    <br>
    
    <div class="callout">
        <div class="callout-title collapsible-header" role="button" tabindex="0" aria-expanded="true">
            <span>Required Metadata</span>
            <span class="callout-toggle collapsible-toggle">▼</span>
        </div>
        <div class="callout-body">
            <p><b>The following metadata fields are required for submission:</b></p>
            <ul>
                <li>Name of data producer</li>
                <li>URL of landing page</li>
                <li>Frequency of updates to metadata</li>
                <li>Contact name, email (e.g. helpdesk, general support)</li>
                <li>Name(s) of relevant EOV(s)</li>
            </ul>
        </div>
    </div>

    
    <p>Once submitted, your form entry will be converted into a JSON-LD format and submitted as a GitHub issue to the app's <a href="https://github.com/iobis/eov-metadata-app-front-entries/issues" target="_blank">associated GitHub repository</a>. You can preview the output by clicking the "Print JSON" button on the form page. </p>
    

    <h2>Technical Details</h2>
    <p>When you submit the form, your metadata entry is saved as a GitHub issue in the app's repository. The submission is converted into JSON-LD, which is a machine readable format for linked metadata. From each form we generate one JSON-LD file as a graph with three nodes: </p>
    <ul>
        <li>a Project node that captures general metadata about the data producer, including contact information, EOV details, etc.</li>
        <li>an Action node to capture sampling detail information, e.g. sampling approach/platform and frequency,</li>
        <li>a node that only records the frequency of metadata updates, which is used when creating a sitemap downstream</li>
    </ul>
    <p>Once your file is submitted, an automatic GitHub Actions workflow then processes the issue to copy it into a folder with a sanitized version of the producer's name in the <a href="https://github.com/iobis/eov-metadata-app-back/tree/main/jsonFiles" target="_blank">jsonFiles</a> directory. After this, another automatic GitHub Actions workflow builds a single sitemap that lists all published entries based on the folders within jsonFiles. The files and the sitemap are shared directly with the GOOS BioEco Portal, and with ODIS through the ODIS Catalogue of Sources. See the diagram below for a simple visual representation of the workflow.</p>
    <p>The workflow to update entries imported from the previous GeoNode version of the BioEco Portal is slightly different. Each entry has already been imported into the jsonFiles directory, and requires us to give edit permissions to specific GitHub users so the entries will appear in the Update Entry page.</p>
    <img src="{{ url_for('static', filename='images/app_diagram.svg') }}" alt="Metadata App workflow" style="width: 50%; display: block; margin: auto;">
    <p>App development can be found <a href="https://github.com/iobis/eov-metadata-app-back" target="_blank">here</a>.</p>
    <p>For more information on the JSON-LD format, see the guidelines produced by ODIS <a href="https://book.odis.org/index.html" target="_blank">here</a>.</p>

    <h2>Data Producers Already Submitted</h2>
    <p>See the <a href="https://bioeco.goosocean.org/" target="_blank">GOOS BioEco Portal</a> for a list of submitted data producers.</p>
    </div>

<script src="/static/scripts/collapsible.js"></script>

{% endblock %}