{% extends "layouts/header_printjson.html" %}

{% block title %}Printed JSON{% endblock %}

{% block content %}

    <h1>Printed JSON</h1>
    <button class="back-button" onclick="goBack()">Go Back</button><br><br>
    <div class="code-container">
        <button class="copy-button" onclick="copyToClipboard()">Copy to Clipboard</button>
        <pre>
            <code id="json-code" class="language-json">{{ output }}
        </code>
        </pre>
    </div>
    
    <script>
        function goBack() {
            window.history.back();
        }
        function copyToClipboard() {
            const codeElement = document.getElementById('json-code');
            const range = document.createRange();
            range.selectNode(codeElement);
            window.getSelection().removeAllRanges(); // Clear any existing selections
            window.getSelection().addRange(range);
            try {
                document.execCommand('copy');
                alert('JSON copied to clipboard!');
            } catch (err) {
                alert('Failed to copy JSON.');
            }
            window.getSelection().removeAllRanges(); // Clear the selection
        }
    </script>
    <button id="toTopButton" onclick="scrollToTop()">To Top</button>
    <button id="toBottomButton" onclick="scrollToBottom()">To Bottom</button>
{% endblock %}