{% extends "layouts/header.html" %}

{% block title %}Submission successful{% endblock %}

{% block content %}

    <h1>Submission successful</h1>
    <p>{{ message }}</p>
    {% if issue_url %}
    <p>You can view your submission <a href="{{ issue_url }}" target="_blank">here</a>.</p>
    {% endif %}
    <button class="back-button"><a href="{{ url_for('home') }}" class="button">Back to home</a></button>
    <button class="back-button"><a href="{{ url_for('dataproducer') }}" class="button">Submit another entry</a></button>
    
{% endblock %}